name: Development and Testing
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - run: npm i -g @vscode/vsce
      - name: Cache dependencies
        uses: actions/cache@v4
        id: cache
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: pnpm i --frozen-lockfile --ignore-scripts || pnpm i --ignore-scripts
      - run: |
          export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
          sudo systemctl start dbus
          xvfb-run -a pnpm test:suite:mocha
        if: runner.os == 'Linux'
      - run: pnpm test:suite:mocha
        if: runner.os != 'Linux'
      - run: pnpm run test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        if: runner.os == 'Linux'
        with:
          files: ./coverage/lcov.info
          flags: unittests
      - run: vsce package --no-dependencies
      - name: Upload VSIX artifact
        uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          name: vsix-package
          path: '*.vsix'
